.button-logout {
  border: none;
  border-radius: 5px;
  background-color: #9fcdff;
  width: 70px;
  height: 30px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  position: fixed;
  top: 0;
  right: 0;
}
